*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
html, body{
    height: 100%;
    width: 100%;
    font-family: 'Mukta', sans-serif;
}
li{
    cursor: pointer;
}
.page1{
    height: 100vh;
    max-width: 100vw;
    max-width: 100vw;
    background-color: black;
    position: relative;
}
.nav{
    position: absolute;
    z-index: 9999;
    width: 100%;
    color: whitesmoke;
    padding: 3rem 0rem;
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.nav .nav-logo{
    font-weight: bold;
    font-size: 13px;
}

.nav-list ul{
    display: flex;
    gap: 4rem;
    list-style: none;
}
.nav-list ul li {
    font-weight: 200;
    position: relative;
    transition: color 0.5s ease-in-out;
}

.nav-list ul li::before,
.nav-list ul li::after {
    content: '';
    position: absolute;
    bottom: 20%;
    left: 0;
    width: 0;
    height: 1px;
    background-color: gray;
    transition: width 0.5s ease-in-out;
}



.nav-list ul li::after {
    left: 0%;
}

.nav-list ul li:hover::before,
.nav-list ul li:hover::after {
    width: 100%;
}
.nav .dots i{
    position: absolute;
    cursor: pointer;
    font-size: 25px;
}
.nav-video{
    position: absolute;
    overflow: hidden;
    width: 80%;
    height: 70%;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}
.nav-video video{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.page2{
    height: 100vh;
    max-width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
}
.page2 .Branding-list{
    padding: 1rem;
    overflow-x: hidden;
}
.page2 .Branding-list ul{
    display: flex;
    gap:12rem;
    list-style: none;
}
.page2 .Branding-list ul li{
    transform: translateX(-500px);
    padding: 1rem;
    height: 150px;
    width: 220px;   
}
.page2 .Branding-list ul li:hover a{
    text-decoration: underline;
}
.page2 .Branding-list ul li:hover figure{
    transition: all 0.2s ease-in;
    transform: scale(1.03);
}
.Branding-list ul li a{
    text-decoration: none;
    color: rgba(0, 0, 0, 0.685);
    
}
.Branding-list ul li a span{
    display: flex;
    text-align: center;
    padding: 0;
}
.simple-line{
    width: 90%;
    height: 1px;
    background-color: rgba(0, 0, 0, 0.76);
    margin: 2rem auto;
}
li .simple-line{
    width: 100%;
    height: 1px;
    background-color: rgba(0, 0, 0, 0.76);
    margin: 2rem auto;
}
.page3{
    height: 100vh;
    max-width: 100vw;
    display: flex;
    align-items: center;

}
.page3Wrapper{
    display: flex;
}
.page3-left{
    width: 50%;
    padding: 2rem;
}
.page3-left .heading{
    padding: 4rem;
}
.page3-left .heading h3{
    font-size: 2.3rem;
    color: rgba(0, 0, 0, 0.808);
    line-height: 1.1;
    font-weight: 300;
}
.page3-left .heading .page3-button{
    margin-top: 30px;
    width: 30%;
}


 button {
    position: relative;
    display: inline-flex;
    overflow: hidden;
    align-items: center;
    padding: 0px 30px;
    border: .1rem solid;
    border-radius: 1.6rem;
    color: currentcolor;
    font-size: 0.9rem;
    letter-spacing: -.02em;
    line-height: 2rem;
    text-decoration: none;
    text-transform: uppercase;
    transform: translateZ(0);
    white-space: nowrap;
}
/* .page3-left .heading .page3-button button::before{
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    background-color: rgb(22, 22, 22);
    width: 100%;
    height: 0;
    border-color:white;
    transition: all 0.3s ease-out;
    transform: translateY(0%);
    z-index: 1;
} */

 button::before {
    position: absolute;
    z-index: -1;
    bottom: 0rem;
    left: 0;
    width: 100%;
    height: 0;
    background-color: black;
    color: white;
    content: "";
    transform: translateY(0,100%,0);
    transition: all 0.2s ease-out;
}


 button:hover::before{
    height: 100%;
}
.page3-left .heading .page3-button button:hover {
    color: white; /* Change text color to white on hover */
}

.page3-right{
    width: 50%;
    padding: 1rem;
}
.page3-right figure{
    height: 200px;
    width: 500px;
    margin: 5rem auto;
}

.page4{
    height: 100vh;
    max-width: 100vw;
    display: flex;
    justify-content: center;
}
.page4 .page4-wrapper{
    height: 80%;
    width: 90%;
    display: flex;
}
.page4-wrapper a{
    text-decoration: none;
    width: 30%;
    margin: auto;
    color: black;
}
.page4-wrapper a:hover  h5{
    text-decoration: underline;
}
.page4-content{
    width: 100%;
    margin: auto;
    height: 100%;
}
.page4-content .page4-image{
    height: 100%;
    width: 100%;
    overflow: hidden;
}
.page4-content .page4-video{
    height: 100%;
    width: 380px;
}
.page4-content .page4-image img{
    width: 100%;
    height: 100%;
    transform: scale(1.08);
    object-fit: cover;
    transition: all 0.2s ease;
}
.page4-content .page4-image:hover img{
    transform: scale(1.04);
}
.page4-content .page4-video video{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.page4-heading{
    margin-top: 20px;
}
.page4-heading h5{
    color: black;
    font-size: 23px;
}
.page4-heading p{
    width: 50%;
    font-size: 14px;
    line-height: 1;
    text-transform: uppercase;
}
.page5{
    width: 100vw;
    height: 100vh;
}
.page5-heading{
    padding: 5rem;
}
.page5-heading h1{
    line-height: 1;
    font-size: 3.4vw;
}
.scrollerBox{
    width: 100%;
    height: 500px;
}
.scrollerBox .swiper-container{
    width: 30%;
    height: 400px;
    padding-left: 4rem;
}

.scroller .swiper-container .swiper-wrapper{
    gap: 2rem;
    width: 100%;
}
.swiper-slide{
    padding: 1rem;
    width: 100%;
    height: 100%;
}
.swiper-slide h1 picture img{
    height: 46px;
    width: 75px;
}
.page5-content{
    margin-top: 35px;
    padding: .5rem;
}
.page5-content p{
    line-height: 1.3;
}
/* .box{
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100px;
    height: 100px;
    background-color: pink;
    border-radius: 50%;
    transition: all 0.1s ease;
    z-index: 9;
}
.box h4{
    font-weight: 300;
    color: rgba(0, 0, 0, 0.588);
} */


.page6{
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
}
.page6-inner{
    width: 95%;
    height: 100%;
    display: flex;
}
.page6-inner .page6-content{
    width: 50%;
    padding: 3rem;
}
.page6-content h1{
    font-size: 6rem;
    font-weight: bold;
    line-height: 1;
}
.page6-content h4{
    font-size: 20px;
    font-weight: 300;
}
.page6-content h4 span{
    font-weight: bold;
}
.page6-content button{
    margin-top: 5px;
    outline: none;
    border-color: pink;
    padding: -10px 30px;
    background-color: transparent;
    color: pink;
    font-size: 10px;
    border-radius: 15px;
    border-width: .1px;
}
.page6-inner .page6-video{
    width: 50%;
} 
.page6-video-inner{
    width: 100%;
    height: 100%;
}
.page6-inner .page6-video .page6-video-inner video{
    object-fit: cover;
    width: 100%;
}
.page7{
    height: 80vh;
    width: 100vw;
    /* background-color: whitesmoke; */
}

.page8{
    width: 100vw;
    background-color: whitesmoke;
}
.page8 .f-news{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2rem 4.5rem;
}
.page8 .f-news h1{
    font-size: 3rem;
    font-weight: 600;
    line-height: 1;
    color: rgba(0, 0, 0, 0.864);
}
.page8 .f-news button:hover{
    color: white;
}
.f-detail{
    width: 100%;
    margin-bottom: 1rem;
    padding: 1rem 4.5rem;
}
.f-detail ul li{
    list-style: none;
}
.f-detail ul li a {
    text-decoration: none;
    color: #000;
    display: flex;
    gap: 1rem;
    
}
.f-detail ul li a .page8-img-container{
    width: 390px;
    height: 290px;
    overflow: hidden;
}
.f-detail ul li a .page8-img-container picture{
    height: 100%;
    width: 100%;
}
.f-detail ul li a .page8-img-container picture img{
    height: 100%;
    width: 100%;
    object-fit: cover;
    transform:scale(1.3);
}
.page8-detail-content-container{
    width: 70%;
}
.page8-detail-content-container .page8-detail-content{
    display: flex;
    justify-content: space-between;
    height: 280px;
}
.page8-detail-content-container .page8-detail-content h1{
    font-size: 3rem;
    width: 70%;
    line-height: 1;
    text-transform: uppercase;
    font-weight: 500;
}
.figure-div{
    height: 50px;
    overflow: hidden;
    width: 36px;
    position: relative;
}
.page8-detail-content figure{
    position: absolute;
    top: 0;
    right: 0;
    width: 40px;
    transform: translateX(-48px);
    display: flex;
    transition: all 0.5s ease;
}
.f-detail ul li a:hover .page8-detail-content figure{
    transform: translateX(0px);
}
.f-detail ul li a:hover .page8-img-container img{
    transform: scale(1.25);
    transition: all 0.5s ease;
} 
.f-detail ul li:hover{
    text-decoration: underline;
}

.page8-detail-content figure i{
    font-size: 3rem;
}
.page9{
    height: 100vh;
    width: 100vw;
    background-color: rgba(0, 0, 0, 0.831);
    display: flex;
    justify-content: center;
    align-items: center;
}
.page9-wrapper{
    display: flex;
    margin-top: 4rem;
    height: 85%;
    width: 90%;
}
.page9-wrapper .page9-email{
    width: 50%;
    height: 100%;
}
.page9-email svg{
    padding-left: 2.3rem;
    fill: white;
    height: 30px;
    width: 120px;
}
.page9-email .email-input{
    height:400px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}
.email-input .email-input-inner{
    width: 100%;
    padding: 40px;
    color: white;
}
.email-input .email-input-inner ul{
    padding-left: 1.3rem;
    font-size: 25px;
    word-spacing: 0%;
}
.email-input .email-input-inner ul li h1{
    font-size: 20px;
    font-weight: 500;
    color: rgb(245, 245, 245);
}
.email-input .email-input-inner input{
    background-color: transparent;
    outline: none;
    color: white;
    font-size: 20px;
    border: none;
    border-bottom: 1px solid;
    border-color: white;
    width: 100%;
    padding: 1rem 0rem;
    margin: 0;
}
.email-input .email-input-inner input::placeholder{
    font-size: 20px;
    padding: 5px;
    color: white;
}
.page9-list-deatail{
    padding: 0rem 2rem;
    width: 50%;
    color: rgba(255, 255, 255, 0.948);
}
.page9-list-deatail h1{
    font-weight: 500;
    width: 90%;
    font-size: 35px;
    line-height: 1;
}
.page9-list-deatail h1 span{
    text-decoration: underline;
}
.page9-li-list{
    display: flex;
    align-items: center;
    height: 400px;
}
.page9-li-list ul{
    display: flex;
    justify-content: center;
    font-size: 20px;
}
.page9-li-list ul li h1{
    font-size: 20px;
    font-weight: 500;
}
.page9-li-list ul li div{
    display: block;
    width: 200px;
}
.page9-li-list ul li div ul{
    display: flex;
    flex-direction: column;
    list-style: none;
    margin-top: 10px;
}
.page9-li-list ul li div ul li{
    line-height: 1;
}